CONFIG_DEFAULT_HOSTNAME="spinalhdl-saxon"
CONFIG_SECTION_MISMATCH_WARN_ONLY=y

# Architecture
CONFIG_ARCH_DEFCONFIG="arch/riscv/configs/defconfig"
CONFIG_ARCH_RV32I=y
CONFIG_RISCV_ISA_A=n
CONFIG_RISCV_ISA_C=n
CONFIG_SIFIVE_PLIC=y
CONFIG_FPU=n
CONFIG_SMP=n

# Optimize and Tiny
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_OPTIMIZE_INLINING=y
CONFIG_SLOB=y
CONFIG_NOHIGHMEM=y

# Adding XiP & AXFS boot
CONFIG_XIP_KERNEL=y
CONFIG_AXFS=y
CONFIG_AXFS_PROFILING=y
CONFIG_AXFS_FIRST_MOUNT_AXFS_AS_ROOTFS=y
CONFIG_MTD=y
CONFIG_MTD_OF_PARTS=y
CONFIG_MTD_ROM=y
